//
// Buttons Styles
//
// 0up
.button {
    display: inline-block;
    margin: 15px auto 0;
    padding: 10px 15px;
    border: 1px solid $white;
    color: $white;
    letter-spacing: .25em;
    text-transform: uppercase;
    font-family: $sans-serif;
    font-weight: 400;
    font-style: normal;
    &--blue {
        border: 1px solid $brand-primary;
        color: $brand-primary;
    }
    &--round {
        display: block;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        padding-top: 30px;
        text-align: center;
        letter-spacing: 0.0625rem;
        margin-left: auto;
        margin-right: auto;
    }
    &--mobile-full-width {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        span {
            line-height: 1.4em;
        }
    }
    &:hover {
        text-decoration: none;
        border: 1px solid $brand-gold;
        color: $brand-gold;
    }
    .fa-chevron-right {
        vertical-align: middle;
    }
}

// Extra Small Devices, Phones
@media only screen and (min-width: $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {
    .button {
        padding: 10px 20px;
        margin-top: 30px;
        &--round {
            padding: 28px 20px;
        }
    }
}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {}
