//
// Buttons Styles
//
// 0up
.button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    border: 1px solid $white;
    color: $white;
    letter-spacing: .25em;
    text-transform: uppercase;
    max-width: 65%;
    &--blue {
        border: 1px solid $brand-primary;
        color: $brand-primary;
    }
    &--round {
        border-radius: 101px;
        padding: 25px;
        max-width: 100px;
        max-height: 100px;
        text-align: center;
        letter-spacing: 0.0625rem;
    }
    &:hover {
        text-decoration: none;
        border: 1px solid $brand-gold;
        color: $brand-gold;
    }
}

// Extra Small Devices, Phones
@media only screen and (min-width: $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {}
