//
// Header Styles
//
// 0up
.nav {
    >li {
        position: static;
        >a {
            position: static;
        }
        >a:hover {
            background-color: $light-blue;
        }
    }
}

// Extra Small Devices, Phones
@media only screen and (min-width: $extra-small-container-width) {}

// Small Devices, Tablets
@media only screen and (min-width: $small-container-width) {
    .banner {
        background: rgba(0, 165, 229, .9);
        background: -moz-linear-gradient(left, rgba(0, 165, 229, 1) 0%, rgba(0, 255, 255, 0.9) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 165, 229, 1)), color-stop(100%, rgba(0, 255, 255, 0.9)));
        background: -webkit-linear-gradient(left, rgba(0, 165, 229, 1) 0%, rgba(0, 255, 255, 0.9) 100%);
        background: -o-linear-gradient(left, rgba(0, 165, 229, 1) 0%, rgba(0, 255, 255, 0.95) 100%);
        background: -ms-linear-gradient(left, rgba(0, 165, 229, 1) 0%, rgba(0, 255, 255, 0.9) 100%);
        background: linear-gradient(to right, rgba(0, 165, 229, 1) 0%, rgba(0, 255, 255, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5e5', endColorstr='#00ffff', GradientType=1);
        height: 140px;
        min-height: 140px;
        // display: none;
        >.container {
            height: 140px;
        }
    }
    .navbar {
        border-bottom-width: 0;
    }
    .navbar-brand {
        height: auto;
        padding: 0;
        img {
            height: 100px;
            margin-top: 20px;
        }
    }
    .navbar-default {
        .navbar-nav {
            >li {
                >a {
                    color: $white;
                    text-transform: uppercase;
                    font-family: $sans-serif;
                    padding-left: 13px;
                    padding-right: 13px;
                    .caret {
                        display: none;
                    }
                }
                >a:hover {
                    color: $white;
                }
            }
            >.active {
                >a {
                    background-color: transparent;
                    color: $white;
                }
            }
            >.open {
                >a,
                >a:focus,
                >a:hover {
                    border-top: 0;
                    border-bottom: 0;
                    background-color: transparent;
                    color: $white;
                    z-index: 1001;
                }
            }
        }
    }
    .brand {
        float: left;
    }
    .nav {
        display: block;
    }
    .menu-primary-navigation-container {
        margin-top: 85px;
        float: right;
    }
    .nav-primary {
        float: right;
        font-family: $sans-serif;
        font-weight: 400;
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: .0625em;
        .nav,
        .menu-item,
        .sub-menu {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .nav {
            margin-top: 91px;
            position: relative;
            >li {
                position: static;
                >a {
                    position: static;
                }
            }
        }
        .menu-item {
            float: right;
        }
        a {
            color: $white;
            text-decoration: none;
            display: inline-block;
            padding: 1px 13px;
            line-height: 50px;
            height: 49px;
            position: relative;
            &:hover {
                color: $brand-gold;
            }
        }
    }
    .dropdown-menu {
        height: 45px;
        width: 2560px;
        width: 100vw;
        top: 100%;
        background: rgba(0, 165, 229, .75);
        background: -moz-linear-gradient(left, rgba(0, 165, 229, .9) 0%, rgba(0, 255, 255, 0.75) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 165, 229, 1)), color-stop(100%, rgba(0, 255, 255, 0.75)));
        background: -webkit-linear-gradient(left, rgba(0, 165, 229, .9) 0%, rgba(0, 255, 255, 0.75) 100%);
        background: -o-linear-gradient(left, rgba(0, 165, 229, .9) 0%, rgba(0, 255, 255, 0.75) 100%);
        background: -ms-linear-gradient(left, rgba(0, 165, 229, .9) 0%, rgba(0, 255, 255, 0.75) 100%);
        background: linear-gradient(to right, rgba(0, 165, 229, .9) 0%, rgba(0, 255, 255, 0.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5e5', endColorstr='#00ffff', GradientType=1);
        border-radius: 0;
        border-width: 0;
        .dropdown-nav-wrapper {
            display: block;
            width: $large-container-width;
            margin-left: auto;
            margin-right: auto;
            border-width: 0;
            >li {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                display: inline-block;
                >a {
                    display: inline-block;
                    float: left;
                    padding: 0 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    line-height: 36px;
                    color: $white;
                    clear: none;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// Medium Devices, Desktops
@media only screen and (min-width: $medium-container-width) {}

// Large Devices, Wide Screens
@media only screen and (min-width: $large-container-width) {}
